.calendar-container {
  width: 85%;
  position: relative;
  left: 256px;
  height: fit-content;
}

.calendar-container.month-view {
  height: 100vh;
}

.Kalend__CalendarHeader-tall .Kalend__CalendarHeaderEvents__container,
.Kalend__CalendarHeader-tall-day .Kalend__CalendarHeaderEvents__container {
  height: 700px !important;
  gap: 5px;
}

.Kalend__CalendarHeader-tall
  .Kalend__button.Kalend__Event-header.Kalend__ButtonBase,
.Kalend__CalendarHeader-tall-day
  .Kalend__button.Kalend__Event-header.Kalend__ButtonBase {
  height: 35px !important;
  position: static !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 0 !important;
}

.eventTitle,
.dailyEventTitle {
  color: black;
}

.calendar-legend {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-evenly;
  width: fit-content;
  right: 4%;
  top: 8%;
}

.color-box-low {
  width: 40px;
  height: 20px;
  background-color: rgba(186, 207, 249, 0.4);
}

.color-box-medium {
  width: 40px;
  height: 20px;
  background-color: rgba(239, 221, 211, 0.4);
}

.color-box-high {
  width: 40px;
  height: 20px;
  background-color: rgba(245, 189, 191, 0.4);
}

.color-box-label {
  font-size: 11px;
  margin-left: 5px;
  padding-bottom: 1px;
  color: rgb(40, 39, 39);
}

.color-box-container {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}

.dailyTimeLineWrapper {
  display: none;
}
